/* Carrousel */
.carousel {
  margin-top: 20px;
  padding-top: 10px;
}

.carousel-item img {
  max-height: 330px; /* Ajustez la hauteur si nécessaire */
  object-fit: cover;
}


.carousel-item img {
  border-radius: 10px;
  max-height: 330px; /* Augmentez la hauteur du carrousel */
  object-fit: cover; /* Recadre l'image pour qu'elle remplisse l'espace sans déformer */
  width: 100%; /* Assurez-vous que l'image prend toute la largeur du carrousel */
}